h1{
    font-weight:bolder;
   margin-top: 50px;
}
.btn{
    background-color: green;
}
img{
    height: 400px;
}
h2{
    margin-top: 100px;
}
@media only screen and (max-width:768px){
    h2{
        margin-top: 150px;
    }
}