<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div class="container-sm loginForm mt-5">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="text-centered">
              <h1>Signup</h1>
              <p>Register your account here!</p>
            </div>
            <form [formGroup]="signupform" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="fullName" class="form-label">Fullname</label>
                <input
                  type="text"
                  formControlName="fullName"
                  class="form-control"
                  id="fullName"
                />
              </div>
              <div class="mb-3">
                <label for="mobilenumber" class="form-label"
                  >Mobile Number</label
                >
                <input
                  type="number"
                  formControlName="mobile"
                  class="form-control"
                  id="mobilenumber"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  formControlName="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
                <div id="emailHelp" class="form-text">
                  We'll never share your email with anyone else.
                </div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Password</label
                >
                <input
                  type="password"
                  formControlName="password"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>

              <button type="submit" class="btn btn-primary mt-2">Signup</button>
            </form>
            <a style="color: white; margin-top: 10px" routerLink="/login"
              >Registered user? click to Login</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
