<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div class="container-fluid-sm">
      <div
        id="carouselExampleInterval"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item" data-bs-interval="2050">
            <img
              src="../../../assets/img/brownie.jpg"
              class="d-block"
              alt="brownie"
            />
            <h1 class="centered">Fresh food at your door steps</h1>
            <a href="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>

            <div class="carousel-caption d-none d-md-block">
              <h3>Desserts</h3>
              <p>fresh food at your door step</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2050">
            <img
              src="../../../assets/img/chicken.jpg"
              class="d-block"
              alt="..."
            />
            <h1 class="centered">Fresh food at your door steps</h1>
            <a href="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>
            <div class="carousel-caption d-none d-md-block">
              <h3>Grilled Chicken</h3>
              <p>Fresh food at <br />your door step</p>
            </div>
          </div>
          <div class="carousel-item active" data-bs-interval="2050">
            <img src="../../../assets/img/food.jpg" class="d-block" alt="..." />
            <h1>Fresh food at your door steps</h1>
            <div class="d-none d-sm-block">
              <a href="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>
            </div>

            <div class="carousel-caption d-none d-sm-block">
              <h3>Food</h3>
              <p>fresh food at your door step</p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!-- how to order -->

    <div class="howToOrder">
      <h3 class="text-centered">How to Order</h3>
      <p class="text-centered">It's as easy as this.</p>
    </div>

    <div class="container-sm info">
      <div class="row">
        <div class="col-sm-4 location">
          <a href=""><i class="bi bi-geo-alt"></i></a>
          <h6>provide your location</h6>
          <p>Fill out your address</p>
        </div>

        <div class="col-sm-4 restaurant">
          <a href="#"><i class="bi bi-house-door"></i></a>
          <h6>Choose your restaurant and food</h6>
          <p>
            what are you in the mood for?Browse through <br />many restaurants
            cusinies
          </p>
        </div>
        <div class="pay col-sm-4">
          <a href=""><i class="bi bi-credit-card"></i> </a>
          <h6>Pay and get your food</h6>
          <p>pay using various pay methods. That's it, bon appétit!</p>
        </div>
      </div>
    </div>

    <!-- foodItems -->

    <div class="container-sm foodItem">
      <div class="row">
        <h2>Customers favourite food</h2>
        <div class="col-sm-3 orderFood" *ngFor="let fd of foodItem; index as i">
          <div class="card" style="width: 18rem" *ngIf="i <= 3">
            <img
              src="{{ fd.foodImg }}"
              class="card-img-top"
              alt="{{ fd.foodName }}"
            />
            <div class="card-body">
              <h5 class="card-title">{{ fd.foodName }}</h5>
              <p>{{ fd.foodPrice }}</p>
              <p class="card-text">
                {{ fd.foodDetails }}
              </p>
              <a routerLink="['/menu', fd.id]" class="btn btn-primary"
                >BUY NOW &nbsp; <i class="bi bi-bag"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-sm more">
      <a routerLink="menu" class="viewmore">view more</a>
    </div>
  </body>
</html>
