<div class="container-fluid">
  <div
    id="carouselExampleInterval"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item" data-bs-interval="2050">
        <img
          src="../../../assets/img/brownie.jpg"
          class="d-block"
          alt="brownie"
        />
        <h1 class="centered">Fresh food at your door steps</h1>
        <a href="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>

        <div class="carousel-caption d-none d-md-block">
          <h3>Desserts</h3>
          <p>fresh food at your door step</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2050">
        <img src="../../../assets/img/chicken.jpg" class="d-block" alt="..." />
        <h1 class="centered">Fresh food at your door steps</h1>
        <a href="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>
        <div class="carousel-caption d-none d-md-block">
          <h3>Grilled Chicken</h3>
          <p>Fresh food at <br />your door step</p>
        </div>
      </div>
      <div class="carousel-item active" data-bs-interval="2050">
        <img src="../../../assets/img/food.jpg" class="d-block" alt="..." />
        <h1>Fresh food at your door steps</h1>
        <a href="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>
        <div class="carousel-caption d-none d-md-block">
          <h3>Food</h3>
          <p>fresh food at your door step</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- how to order -->
<div class="howToOrder">
  <h3>How to Order</h3>
  <p>It's as easy as this.</p>

  <div class="container info">
    <div class="row">
      <div class="col-lg-4 location">
        <a href=""><i class="bi bi-geo-alt"></i></a>
        <h6>provide your location</h6>
        <p>Fill out your address</p>
      </div>

      <div class="col-lg-4 restaurant">
        <a href="#"><i class="bi bi-house-door"></i></a>
        <h6>Choose your restaurant and food</h6>
        <p>
          what are you in the mood for?Browse through <br />many restaurants
          cusinies
        </p>
      </div>
      <div class="pay col-lg-4">
        <a href=""><i class="bi bi-credit-card"></i> </a>
        <h6>Pay and get your food</h6>
        <p>pay using various pay methods. That's it, bon appétit!</p>
      </div>
    </div>
  </div>
</div>
