
.navbar-nav .nav-link.active-link{
  
    color: var(--primary-color);
    text-decoration:underline;
}
.navbar-nav .nav-link{
   
    color: var(--secondary-color);
    font-weight: 600;
    
}
.navbar-brand {
    color: var(--primary-color);
    font-weight: 900;
    font-size: 30px;
}
nav{
    background-color:rgb(252, 252, 254);

}
@media only screen and (max-width:768px){
    .navbar-nav{
        text-align: center;
    }

}